body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#333;
}

.form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-bottom:20px;
}

input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#007BFF;
    color:white;
}

table th,
table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

.borrowed{
    color:red;
    font-weight:bold;
}

.returned{
    color:green;
    font-weight:bold;
}
