body{

font-family:Arial;
background:#f4f4f4;
margin:0;
padding:20px;

}

.container{

max-width:1000px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);

}

h1,h2{

text-align:center;
color:#2c3e50;

}

.form,
.borrow,
.search{

display:flex;
gap:10px;
margin-bottom:20px;
flex-wrap:wrap;

}

input,
select{

padding:10px;
flex:1;
border:1px solid #ccc;
border-radius:5px;

}

button{

padding:10px 20px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#2980b9;

}

table{

width:100%;
border-collapse:collapse;
margin-bottom:20px;

}

table th,
table td{

border:1px solid #ddd;
padding:10px;
text-align:center;

}

th{

background:#3498db;
color:white;

}

.borrowed{

color:red;
font-weight:bold;

}

.available{

color:green;
font-weight:bold;

}
